<h1 class="title logo">POKEDEX</h1>

<span class = "pokemons">
  <% @pokemons.each do |pokemon| %>
  <span class = "cards">

    <span class = "pkmn-name">
      <%= pokemon.name.capitalize %>
    </span>

    <span class="image-container">
      <img src="<%= pokemon.image %>" alt="<%= pokemon.name %>" class="pokemon-image">
    </span>

    <span class="info">
      <span class ="weight">
        <%= "WEIGHT:" %> <%= pokemon.weight %>
        <%= "lbs" %>
      </span>
      <span class= "type">
        <%= "TYPE:" %>
        <% pokemon.descriptions.each do |description| %>
        <%= description.upcase %>
        <% end %>
      </span>

      <span class="abilities">
        <%= "ABILITIES:"  %>
        <% pokemon.abilities.each do |ability|%>
          <%= ability.upcase %>
        <% end %>
      </span>
  </span>
  </span>
  <% end %>
</span>
