

<div class="page">
  <span class="back">
  <%=link_to "Back to all pokemons", pokemons_path()%>
  <h1 class="title-2">POKEDEX</h1>
  </span>
<div class="show-page-container">
  <span class="title-font">
    <%= @pokemon.name.capitalize %>
  </span>
  <span class="description">
    <%= @pokemon.flavours %>
  </span>
<div class="show-img">
  <img src="<%= @pokemon.image %>" alt="<%= @pokemon.name %>" class="pokemon-image">
</div>

<div class="show-info">
   <div class="show-title">

  </div>
  <div>
    <span id="italic">
    <%= "Weight" %>
    </span>
    <%= @pokemon.weight %> <%= "Lbs" %>
  </div>
  <div>
    <span id="italic">
    <%= "Type" %>
    </span>
    <% @pokemon.descriptions.each do |description| %>
      <%= description.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Abilities" %>
    </span>
    <% @pokemon.abilities.each do |ability|%>
        <%= ability.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Evolutions" %>
    </span>
      <span class="evolutions">
        <% @pokemon.evolutions.each do |evolution| %>
        <%=link_to evolution.capitalize, pokemon_path(Pokemon.find_by(name: evolution)) unless evolution == @pokemon.name%>
        <% end %>
      </span>
  </div>
</div>
</div>
</div>
