<div class="show-page-container">
<div class="show-title">
  <h1><%=  @pokemon.name.capitalize %></h1>
  <img src="<%= @pokemon.image %>" alt="<%= @pokemon.name %>" class="pokemon-image">
</div>

<div class="show-info">
   <div>
    <%= @pokemon.flavours %>
  </div>
  <div>
    <span id="italic">
    <%= "Weight" %>
    </span>
    <%= @pokemon.weight %> <%= "Lb" %>
  </div>
  <div>
    <span id="italic">
    <%= "Type" %>
    </span>
    <% @pokemon.descriptions.each do |description| %>
      <%= description.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Abilities" %>
    </span>
    <% @pokemon.abilities.each do |ability|%>
        <%= ability.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Evolutions" %>
    </span>
    <% @pokemon.evolutions.each do |evolution| %>
      <%= evolution.capitalize %>
    <% end %>
  </div>
</div>
</div>
