<div class="page">
<h1 class="title">POKEDEX</h1>
<div class="show-page-container">
  <span class="title-font">
    <%= @pokemon.name.capitalize %>
  </span>
  <span class="description">
    <%= @pokemon.flavours %>
  </span>
<div class="show-img">
  <img src="<%= @pokemon.image %>" alt="<%= @pokemon.name %>" class="pokemon-image">
</div>

<div class="show-info">
   <div class="show-title">

  </div>
  <div>
    <span id="italic">
    <%= "Weight" %>
    </span>
    <%= @pokemon.weight %> <%= "Lb" %>
  </div>
  <div>
    <span id="italic">
    <%= "Type" %>
    </span>
    <% @pokemon.descriptions.each do |description| %>
      <%= description.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Abilities" %>
    </span>
    <% @pokemon.abilities.each do |ability|%>
        <%= ability.capitalize %>
    <% end %>
  </div>
  <div>
    <span id="italic">
    <%= "Evolutions" %>
    </span>
    <% @pokemon.evolutions.each do |evolution| %>
      <%= evolution.capitalize %>
    <% end %>
  </div>
</div>
</div>
</div>
